
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Programmer's Rank-list</title> 
     <!-- Favicon -->
    <link href="static/img/favicon.ico" rel="icon">
    <link rel="icon" type="image/png" href="static/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="static/img/favicon-16x16.png" sizes="16x16">
    <!-- For Apple devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
    <!-- For Android Chrome -->
    <link rel="android-chrome-512x512" sizes="512x512" href="static/img/android-chrome-512x512.png">
    <link rel="android-chrome-192x192" sizes="192x192" href="static/img/android-chrome-192x192.png">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
    
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">



    <!-- Libraries Stylesheet -->
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/table.css" rel="stylesheet">

    <!-- Animation Stylesheet -->
    <link href="static/css/animate.min.css" rel="stylesheet">
    <style>
        .link-to-profile { text-decoration: none;}
        .cf-newbie { color: gray;}
        .cf-pupil { color: green;}
        .cf-specialist { color: #03A89E;}
        .cf-expert { color: blue;}
        .cf-candidate-master { color: #a0a;}
        .cf-master { color: #FF8C00;}
        .cf-international-master { color: #FF8C00;}
        .cf-grandmaster { color: red;}
        .cf-international-grandmaster { color: red;}
        .cf-legendary-grandmaster::first-letter { color: black;}
        .cf-legendary-grandmaster { color: red;}
        .cc-1star { color: gray;}
        .cc-2star { color: green;}
        .cc-3star { color: blue;}
        .cc-4star { color: #684273;}
        .cc-5star { color: yellow;}
        .cc-6star { color: orange;}
        .cc-7star { color: red;}
    </style>

</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <small><i class="fa fa-phone-alt mr-2"></i>+8801784-337547</small>
                    <small class="px-3">|</small>
                    <small><i class="fa fa-envelope mr-2"></i>computerclub@baiust.edu.bd</small>
                </div>
            </div>
        </div>
    </div>

    <!-- Topbar End -->


   <!-- Navbar Start --> 
   <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <img src="static/img/logo.png" alt="BCC">
        </a>
        
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a href="index.html" class="nav-item nav-link ">Home</a>
                    <a href="about.html" class="nav-item nav-link ">About</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Events</a>
                        <div class="dropdown-menu m-0">
                            <a href="panel.html" class="dropdown-item">Upcoming Events</a>
                            <a href="csefest.html" class="dropdown-item">CSE Fest 2022</a>
                            <a href="computenigma.html" class="dropdown-item">Computenigma 2020</a>
                            <a href="nhpc.html" class="dropdown-item">NHPC 2017</a>
                        </div>
                    </div>
                    <a href="#workshops" class="nav-item nav-link">Workshops</a>
                    <a href="contact.html" class="nav-item nav-link active">CP Ranklist</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Executive Panels</a>
                        <div class="dropdown-menu m-0">
                            <a href="panel.html" class="dropdown-item">6th Executive Panel</a>
                            <a href="panel.html" class="dropdown-item">5th Executive Panel</a>
                            <a href="panel.html" class="dropdown-item">4th Executive Panel</a>
                            <a href="panel.html" class="dropdown-item">3rd Executive Panel</a>
                            <a href="panel.html" class="dropdown-item">2nd Executive Panel</a>
                            <a href="panel.html" class="dropdown-item">1st Executive Panel</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Fresher's Corner</a>
                </div>
                <a href="" class="btn btn-primary py-2 px-4">Membership Registration</a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-1">BAIUST Programmer's Ranklist</h1>
        </div>
    </div>
    <!-- Header End -->
   
 <!--  ************************* Gallery Starts Here ************************** -->
 <div class="container-fluid px-0 py-5">
    <div class="container py-5">
<table>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Codeforces Handle</th>
        <th>CodeChef Handle</th>
        <th>Rating</th>
    </tr>
    {% for user in data %}
    <tr class="{{ user.color_class }}">
            <td>{{ loop.index }}</td>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>
                <b>
                    <a href="https://codeforces.com/profile/{{ user.handle }}" target="_blank" class="link-to-profile user-handle">{{ user.handle }}</a>
                </b>
            </td>            
            <td><a href="https://www.codechef.com/users/{{ user.codechef_handle }}" target="_blank" class="link-to-profile">{{ user.codechef_handle }}</a></td>
            <td>{{ user.rating }}</td>
        </tr>
    {% endfor %}
</table>
</div>
</div>
</div>
         
    <!-- Footer Start -->
    <div class="container-fluid position-relative overlay-top bg-dark text-white py-5" style="margin-top: 90px;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <a href="index.html" class="footer-brand">
                        <static/img src="..static/img/logo-wht.png" alt="BCC">
                    </a>
                    <p class="m-0">The Bangladesh Army International University of Science and Technology (BAIUST) Computer Club is a student-led organization dedicated to promoting the study and understanding of computer science and technology among the students of BAIUST.</p>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Contact Us</h3>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>Syedpur,BAIUST Permanent Campus</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+8801784-337547</p>
                    <p><i class="fa fa-envelope mr-2"></i>computerclub@baiust.edu.bd</p>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Follow Us</h3>
                    <p><a class="text-white mr-4" href="https://www.facebook.com/baiustcomputerclub"><i class="fab fa-facebook-f"></i>  /baiustcomputerclub</a></p>
                    <p><a class="text-white mr-4" href="https://twitter.com/baiustcomclub"><i class="fab fa-twitter"></i>  /baiustcomclub</a></p>
                    <p><a class="text-white mr-4" href="https://www.linkedin.com/company/baiustcomputerclub"><i class="fab fa-linkedin-in"></i>  /baiustcomputerclub</a></p>    
                    <p><a class="text-white mr-4" href="https://www.youtube.com/@BAIUSTComputerClub"><i class="fab fa-youtube"></i>  /@BAIUSTComputerClub</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white-50 border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0">&copy;Copyright Reserved by <a class="text-white" href="#">BAIUST Computer Club</a> 
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <p class="m-0"> <a class="text-white" href="team.html">Developer Team</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/counterup/counterup.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
</body>

</html>